In [2]:
import pandas as pd

dataset = pd.read_csv('Airline_Delay_Cause.csv')

In [4]:
print(dataset.head())

   year  month carrier       carrier_name airport  \
0  2023      8      9E  Endeavor Air Inc.     ABE
1  2023      8      9E  Endeavor Air Inc.     ABY
2  2023      8      9E  Endeavor Air Inc.     AEX
3  2023      8      9E  Endeavor Air Inc.     AGS
4  2023      8      9E  Endeavor Air Inc.     ALB

                                        airport_name  arr_flights  arr_del15  \
0  Allentown/Bethlehem/Easton, PA: Lehigh Valley ...         89.0       13.0
1             Albany, GA: Southwest Georgia Regional         62.0       10.0
2           Alexandria, LA: Alexandria International         62.0       10.0
3        Augusta, GA: Augusta Regional at Bush Field         66.0       12.0
4                   Albany, NY: Albany International         92.0       22.0

   carrier_ct  weather_ct  ...  security_ct  late_aircraft_ct  arr_cancelled  \
0        2.25        1.60  ...          0.0              5.99            2.0
1        1.97        0.04  ...          0.0              7.42            0.0
2        2.73        1.18  ...          0.0              4.28            1.0
3        3.69        2.27  ...          0.0              1.57            1.0
4        7.76        0.00  ...          0.0             11.28            2.0

   arr_diverted  arr_delay  carrier_delay  weather_delay  nas_delay  \
0           1.0     1375.0           71.0          761.0      118.0
1           1.0      799.0          218.0            1.0       62.0
2           0.0      766.0           56.0          188.0       78.0
3           1.0     1397.0          471.0          320.0      388.0
4           0.0     1530.0          628.0            0.0      134.0

   security_delay  late_aircraft_delay
0             0.0                425.0
1             0.0                518.0
2             0.0                444.0
3             0.0                218.0
4             0.0                768.0

[5 rows x 21 columns]

In [6]:
print(dataset.columns)

Index(['year', 'month', 'carrier', 'carrier_name', 'airport', 'airport_name',
       'arr_flights', 'arr_del15', 'carrier_ct', 'weather_ct', 'nas_ct',
       'security_ct', 'late_aircraft_ct', 'arr_cancelled', 'arr_diverted',
       'arr_delay', 'carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay'],
      dtype='object')

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171666 entries, 0 to 171665
Data columns (total 21 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   year                 171666 non-null  int64
 1   month                171666 non-null  int64
 2   carrier              171666 non-null  object
 3   carrier_name         171666 non-null  object
 4   airport              171666 non-null  object
 5   airport_name         171666 non-null  object
 6   arr_flights          171426 non-null  float64
 7   arr_del15            171223 non-null  float64
 8   carrier_ct           171426 non-null  float64
 9   weather_ct           171426 non-null  float64
 10  nas_ct               171426 non-null  float64
 11  security_ct          171426 non-null  float64
 12  late_aircraft_ct     171426 non-null  float64
 13  arr_cancelled        171426 non-null  float64
 14  arr_diverted         171426 non-null  float64
 15  arr_delay            171426 non-null  float64
 16  carrier_delay        171426 non-null  float64
 17  weather_delay        171426 non-null  float64
 18  nas_delay            171426 non-null  float64
 19  security_delay       171426 non-null  float64
 20  late_aircraft_delay  171426 non-null  float64
dtypes: float64(15), int64(2), object(4)
memory usage: 27.5+ MB

In [8]:
dataset.isnull().sum()

year                     0
month                    0
carrier                  0
carrier_name             0
airport                  0
airport_name             0
arr_flights            240
arr_del15              443
carrier_ct             240
weather_ct             240
nas_ct                 240
security_ct            240
late_aircraft_ct       240
arr_cancelled          240
arr_diverted           240
arr_delay              240
carrier_delay          240
weather_delay          240
nas_delay              240
security_delay         240
late_aircraft_delay    240
dtype: int64

In [9]:
dataset.dropna(inplace=True)

In [14]:
dataset['Date'] = pd.to_datetime(dataset['year'].astype(str) + '-' + dataset['month'].astype(str))

In [13]:
dataset['DayofWeek'] = dataset['Date'].dt.day_name()

In [12]:
dataset['Month'] = dataset['Date'].dt.month_name()

In [21]:
dataset['OnTime'] = dataset['arr_delay'] <= 15

In [24]:
dataset.to_csv("Airline_Delay_Cause.csv", index=False)